@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

	.HeadingMasterPage {
		@apply Font-Title w-full text-center text-5xl lg:text-6xl xl:text-7xl text-dark uppercase tracking-widest select-none
	}

}

:root {
  --color-primary: #EF6C00;
  --color-primary-light: #F07D1F;
  --color-primary-dark: #E65100;
  --color-secondary: #822E9A;
  --coral: #EEDFDF;
  --dark: #232323;
  --dark-light: #454545;
  --gradientCoral: linear-gradient(
    45deg, 
    var(--color-primary),
    var(--color-secondary)
  );
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: none;
  text-decoration: none;
}



.Font-Title {
  font-family: 'Fugaz One', cursive;
}

.Font-Subtitle {
  font-family: 'Itim', cursive;
}

.Font-Text {
  font-family: 'Baloo 2', cursive;
}



.Video-Rounded {
  overflow: hidden !important;
  border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  -webkit-border-radius: 50px !important;
}

.GradientPrimaryToSecondary {
  background: rgb(255, 255, 255);
	background: linear-gradient(
    45deg, 
    var(--color-primary) 0%, 
    var(--color-secondary) 120%
	);
}