.MasterContainer {
	background: rgb(238,223,223);
    background: linear-gradient(
        45deg, 
        rgba(238,223,223,1) 0%, 
        rgba(250,183,157,1) 75%
    );
	background-size: 400% 400%;
	animation: ChangeGradient 5s ease infinite;
	height: 100vh;
}

@keyframes ChangeGradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
