.box {
  position: fixed;
  top: 0;
  transform: rotate(0deg); 
  left: 0;
  width: 100%;
	height: inherit;
}

.wave {
  position: absolute;
  opacity: .4;
  width: 100%;
  height: 100dvh;
  margin-left: -150px;
  margin-top: -250px;
  border-radius: 43%;
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  from {transform: rotate(360deg);}
}

.wave.-one {
  animation: rotate 10000ms infinite linear;
  opacity: 5%;
  background: white;
}

.wave.-two {
  animation: rotate 6000ms infinite linear;
  opacity: 10%;
  background: white;
}
